body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: red; /* Set the background color to red */
    margin: 0;
}

.container {
    text-align: center;
    background: black; /* Set the background of the container to black */
    color: red; /* Set the text color to red */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

#countdown {
    margin-top: 20px;
    font-size: 5em; /* Make the countdown text large but not too large */
}

.large-text {
    font-size: 8em;
    color: red;
}
