/* Page Styling */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: red;
    margin: 0;
    overflow: hidden;
}

/* Timer Container */
.container {
    text-align: center;
    background: black;
    color: red;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Countdown Timer */
h1 {
    margin-bottom: 20px;
}
#countdown {
    margin-top: 20px;
    font-size: 5em;
}
.large-text {
    font-size: 8em;
    color: red;
}

/* Animated Sprite */
#sprite {
    position: absolute;
    width: 100px;
    height: auto;
    top: 50vh;
    transform: translateY(-50%);
    transition: left 0.5s ease-in-out;
    z-index: 9999;
}
